 <h1 id="write">
  <%= link_to "Write Article", new_article_path %>
  </h1>

  <% @articles.each do |article| %>
    <h3 id="title">
    <li>
       <%= link_to article.title, article_path(article) %><br />
    </li>
    </h3>
  <% end %>

<p>A breaking news item</p>
<p>Learn Rails 5</p>

